@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.about-card {
  width: 70vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  margin: 0px auto;
  margin-top: 2%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .about-card {
    width: 90vw;
  }
}

.about-card img {
  margin-top: 2%;
  border-radius: 8px;
  margin-bottom: 2%;
}

.about-card a {
  color: lightskyblue;
  text-decoration: none;
}

.about-card a:hover {
  color: darkcyan
}

.about-card p  {
  margin-left: 3%;
  margin-right: 3%;
}
