.iconlinks {
  display: flex;
  position: relative;
  top: 48%;
  justify-content: center;
  column-gap: 0.5em;
  color: #fff;
}

@media only screen and (max-width: 358px) {
.iconlinks {
  top: 36%;
 }
}

@media only screen and (max-height: 658px) {
  .iconlinks {
    top: 36%;
  }
}

@media only screen and (max-height: 535px) {
  .iconlinks {
    top: 25%;
  }
}

.iconlinks a {
  color: #fff;
}
