@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@1,300;1,500&display=swap');

.skills-card  {
  width: 70vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .skills-card {
    width: 90vw;
  }
}


.skills-card h1 {
    font-family: 'Roboto Condensed', sans-serif;
}
