@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@1,300;1,500&display=swap');

.skills-card {
  display: flex;
  height: 40vh;
  width: 60vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  margin: 0px auto;
  margin-top: 16px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.skills-card h1 {
    font-family: 'Roboto Condensed', sans-serif;
}